.App {
	display: flex;
	/* margin: 20px;
	padding: 10px; */
}

.wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 90%;
	height: 500px;
}

.formWrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
